/* general */
html{
	background-color: #light-grey;
	height: 100%;
	font-family: sans serif;
	color: #000;
}
.admin-header{
	height: 100px;
	width: 100%;
}
h1{
	float: left;
	width: 70%;
}
#wrapper{
	margin: 0 auto;
	width: 1024px;
}
.exit{
	width: 30%;
	float: right;
}
.list-review{
	width: 100%;
}
.reviews-block-id{
	width: 75px;
	float: left;
}
.reviews-block-name{
	width: 150px;
	float: left;
}
.reviews-block-text{
	width: 500px;
	height: auto;
	float: left;
}
.reviews-block-date{

}